<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
<!--    <test name="chrome">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="tests.TC01"/>-->
<!--            <class name="tests.TC02"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="firefox">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="tests.TC01"/>
            <class name="tests.TC02"/>
        </classes>
    </test>
</suite>